@import url('./__cell/place__cell.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__text/place__text.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__url/place__url.css');

.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto 72px;
}